*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
}
header{
    background-color: rgb(4, 83, 241);
    padding: 25px;
    box-shadow: 0 0 8px black;

}
.logo{
    color: white;
    float: left;
    font-size: xx-large;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif ;
    margin-top: -5px;
    
}
header li{
    display: inline;
    padding-left: 45px;

}
header li a{
    color: white;
    text-decoration: none;
    padding: 13px;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header li a:hover{
    color: red;
    transition: .3s ease;
}
header ul #contact a{
    color: rgb(75, 80, 90);
    background-color: white;
    border-radius: 30px;
    float: right;
    position: relative;
    top: -13px;
}
header ul #contact a:hover{
    color: rgb(82, 136, 243);
    background-color:cornflowerblue;
    transition: .3s ease;

}